@page "/data-collection"
@layout MainLayout
@inject ILookupCodeRepository LookupCodeRepo
@inject IPersonRepository PersonRepo
@inject NavigationManager NavigationManager

<div>
    <div class="font-15 bold float-right mt-10 mr-20">
        OMB Control Number: 0703-0057
        <br />
        Expires on: 12/31/19
    </div>
    <br />
    <br />
    <table class="internal-table">
        <tr>
            <td colspan="2">
                <ValidationSummary @ref="ValidationSummary" CssClass="validationerror" ForeColor=""
                                   HeaderText="For assistance please contact our toll free call center at 877-261-9782 or email us at <a href=mailto:clwater@usmc.mil>clwater@usmc.mil</a>." Height="177px" />
            </td>
        </tr>
        <tr valign="top">
            <td>
                <table class="no-border" align="left" width="408">
                    <tr align="left">
                        <td align="left" colspan="2">
                            <h4>&nbsp;&nbsp;Personal Info:</h4>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span> <b>Last Name:</b></p>
                        </td>
                        <td align="left">
                            <input @bind="LastName" maxlength="35" />
                            <ValidationMessage For="@(() => LastName)" />
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span> <b>First Name:</b></p>
                        </td>
                        <td align="left">
                            <input @bind="FirstName" maxlength="35" />
                            <ValidationMessage For="@(() => FirstName)" />
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Middle Initial:</b></p>
                        </td>
                        <td align="left">
                            <input @bind="MiddleInitial" maxlength="1" width="15" />
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Suffix:</b></p>
                        </td>
                        <td align="left">
                            <select @bind="SuffixId">
                                <option value="0">Select Suffix</option>
                                @foreach (var suffix in SuffixList)
                                {
                                    <option value="@suffix.Id">@suffix.Description</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr align="left">
                        <td align="left" colspan="2">
                            <br />
                            <h4>&nbsp;&nbsp;Current Address:</h4>
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span> <b>Mailing Address 1:</b></p>
                        </td>
                        <td align="left">
                            <input @bind="Address1" class="long" maxlength="100" />
                            <ValidationMessage For="@(() => Address1)" />
                        </td>
                    </tr>
                    <tr align="left">
                        <td width="150">
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Mailing Address 2:</b></p>
                        </td>
                        <td align="left">
                            <input @bind="Address2" class="short" maxlength="100" />
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span><b> City:</b></p>
                        </td>
                        <td align="left">
                            <input @bind="City" maxlength="35" />
                            <ValidationMessage For="@(() => City)" />
                        </td>
                    </tr>
                    <tr align="left" valign="baseline">
                        <td>
                            <p class="label_text">
                                <br />
                                <br />
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span><b> State:</b>
                            </p>
                        </td>
                        <td align="left">
                            <a class="help_text" href="javascript:helpopen(1);">Overseas military address?</a><br />
                            <br />

                            <select @bind="StateId" @bind:event="onstatechange">
                                <option value="0">Select State</option>
                                @foreach (var state in StateList)
                                {
                                    <option value="@state.Id">@state.Description</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => StateId)" />
                            <br />
                            <input @bind="StateText" maxlength="35" disabled="@(!IsStateTextVisible)" />
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span> <b>Zip Code:</b></p>
                        </td>
                        <td align="left">
                            <input @bind="ZipCode" maxlength="10" class="short" />
                            <ValidationMessage For="@(() => ZipCode)" />
                        </td>
                    </tr>
                    <tr align="left">
                        <td>
                            <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="required">*</span><b> Country:</b></p>
                        </td>
                        <td align="left">
                            <select @bind="CountryId">
                                <option value="0">Select Country</option>
                                @foreach (var country in CountryList)
                                {
                                    <option value="@country.Id">@country.Description</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => CountryId)" />
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table class="no-border" align="left" width="545">
                    <td valign="top">
                        <table class="no-border" align="left" width="545">
                            <tr align="left" valign="top">
                                <td class="text-left vertical-align-top" colspan="2">
                                    <h4>&nbsp;&nbsp;Contact Information:</h4>
                                </td>
                            </tr>
                            <tr valign="top" align="left">
                                <td>
                                    <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span class="required">*</span><b> Primary Phone Number:</b></p>
                                </td>
                                <td align="left">
                                    <input @bind="PrimaryPhone" maxlength="20" /><br />
                                    <span class="italic blue bold font-11 ml-20"> No dashes accepted </span>
                                    <br />
                                    <br />
                                    <ValidationMessage For="@(() => PrimaryPhone)" />
                                </td>
                            </tr>
                            <tr valign="top" align="left">
                                <td>
                                    <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Alternate Phone Number:</b></p>
                                </td>
                                <td align="left">
                                    <input @bind="AlternatePhone" maxlength="20" /><br />
                                    <span class="italic blue bold font-11 ml-20"> No dashes accepted </span>
                                    <br />
                                    <br />
                                    <ValidationMessage For="@(() => AlternatePhone)" />
                                </td>
                            </tr>
                            <tr valign="top" align="left">
                                <td>
                                    <p class="label_text">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Email Address:</b></p>
                                </td>
                                <td align="left">
                                    <input @bind="EmailAddress" maxlength="128" />
                                    <ValidationMessage For="@(() => EmailAddress)" />
                                </td>
                            </tr>
                            <tr align="left">
                                <td align="left" colspan="2">
                                    <br />
                                    <br />
                                    <br />
                                    <h4>&nbsp;&nbsp;Miscellaneous:</h4>
                                </td>
                            </tr>
                            <tr align="left">
                                <td>
                                    <p class="label_text">
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>How did you hear about us?</b>
                                    </p>
                                </td>
                                <td align="left">
                                    <select @bind="HearAboutUsId" @bind:event="OnHearAboutUsChanged">
                                        <option value="0">Select</option>
                                        @foreach (var hearAboutUs in HearAboutUsList)
                                        {
                                            <option value="@hearAboutUs.Id">@hearAboutUs.Description</option>
                                        }
                                    </select>
                                    <ValidationMessage For="@(() => HearAboutUsId)" />
                                    <br />
                                    <input @bind="HearAboutUsText" maxlength="35" disabled="@(!IsHearAboutUsTextVisible)" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </table>
            </td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <br />
                <h3><b>Please review your information prior to clicking submit</b></h3>

                <button type="submit" class="btn btn-primary">Submit</button>
                <br />
                <br />
                <br />
            </td>
        </tr>
    </table>
</div>

@code {
    private ValidationSummary ValidationSummary;

    private string LastName;
    private string FirstName;
    private string MiddleInitial;
    private int? SuffixId;
    private List<LookupCode> SuffixList;

    private string Address1;
    private string Address2;
    private string City;
    private int StateId;
    private List<LookupCode> StateList;
    private bool IsStateTextVisible;
    private string StateText;
    private string ZipCode;
    private int CountryId;
    private List<LookupCode> CountryList;

    private string PrimaryPhone;
    private string AlternatePhone;
    private string EmailAddress;

    private int HearAboutUsId;
    private List<LookupCode> HearAboutUsList;
    private bool IsHearAboutUsTextVisible;
    private string HearAboutUsText;

    protected override async Task OnInitializedAsync()
    {
        // Load lookup data for dropdowns
        SuffixList = await LookupCodeRepo.ListSuffix();
        StateList = await LookupCodeRepo.ListStates();
        CountryList = await LookupCodeRepo.ListCountries();
        HearAboutUsList = await LookupCodeRepo.ListHearAboutUS();
    }

    private void OnStateChanged(ChangeEventArgs e)
    {
        StateId = Convert.ToInt32(e.Value);
        IsStateTextVisible = StateId == 0;
    }

    private void OnHearAboutUsChanged(ChangeEventArgs e)
    {
        HearAboutUsId = Convert.ToInt32(e.Value);
        IsHearAboutUsTextVisible = HearAboutUsId == 0 || (await LookupCodeRepo.GetHearAboutUsDescriptionById(HearAboutUsId))?.Description.ToUpper().Trim() == "MAGAZINE AD";
    }

    private async Task HandleValidSubmit()
    {
        // Perform form submission logic here
        Person person = new Person
            {
                FirstName = FirstName.Trim(),
                MiddleInitial = string.IsNullOrWhiteSpace(MiddleInitial?.Trim()) ? null : MiddleInitial.Trim(),
                LastName = LastName.Trim(),
                SuffixId = SuffixId == 0 ? null : SuffixId,
                PrimaryPhone = PrimaryPhone.Trim(),
                AlternatePhone = string.IsNullOrWhiteSpace(AlternatePhone?.Trim()) ? null : AlternatePhone.Trim(),
                EmailAddress = string.IsNullOrWhiteSpace(EmailAddress?.Trim()) ? null : EmailAddress.Trim(),
                HearAboutUsId = HearAboutUsId == 0 ? null : HearAboutUsId,
                OtherHearAboutUsId = HearAboutUsText,
                RegistrationTypeId = 1, // Online
                IsPrimary = 0,
                IsStaging = 1
            };

        Address address = new Address
            {
                Address1 = Address1.Trim(),
                Address2 = string.IsNullOrWhiteSpace(Address2?.Trim()) ? null : Address2.Trim(),
                City = City.Trim(),
                StateId = StateId,
                OtherStateDescription = string.IsNullOrWhiteSpace(StateText?.Trim()) ? null : StateText.Trim(),
                ZipCode = ZipCode.Trim(),
                CountryId = CountryId
            };

        Comment comment = new Comment { CommentDesc = "" };

        if (!await PersonRepo.IsDuplicateAsync(person, address))
        {
            await PersonRepo.InsertCollectionForm(person, address, 99999, comment);
            // Navigate to success page or show success message
        }
        else
        {
            NavigationManager.NavigateTo("DuplicateRecordFound");
        }
    }
}